body {
    background-color: #E6E6FA;
}

/*.container-fluid.no-gutters {*/
/*    padding: 0 !important;*/
/*    width: 100%;*/
/*}*/


.background {
    background-color: #ffffff;
    border-radius: 25px;
    padding: 15px;
}

.min_orders {
    padding: 5% 0 0 10%;
}

body {
    padding-top: 56px;
}